html {font-size: 100%;}
h1 {font-family: monospace; color:#4d4d4d; text-align:center; font-size:3.5em; margin-top:20px; margin-bottom:60px; margin-left:auto; margin-right:auto}
h2 {font-family: monospace; color:#4d4d4d; font-size:1.4rem}
h3 {color:white; font-size:1rem}
body {font-family: monospace; font-size:0.8rem; width:67em; margin-left:auto; margin-right:auto; margin-bottom:36px; text-align:left; background-color: whitesmoke;}
p {font-family: monospace; color:white; line-height:1.8}
ul {font-family: monospace; color:white; line-height:1.8}
.nav {font-family: monospace;
      color:white;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      text-decoration: none;
      font-size: 18px;}
nav>a {
      display: inline-block;
      text-align: center;
      font-weight: bold;
      margin-right: auto;
      margin-left: auto;
      font-size: 18px;
      text-decoration: none;
      color: white;}
#bio-menu {
      display: inline-block;
      font-size: 18px;
      background-color: #ff7733;
      margin-left: 20%;
      margin-right: 15px;
      text-align: center;
      border-radius: 12px;
      border-color: #ff7733;
      padding: 10px;}
#bio-menu:hover {
      background-color: #FF5500;
}
#experience-menu {
      display: inline-block;
      font-size: 18px;
      background-color: #00cc44;
      margin-right: 15px;
      text-align: center;
      border-radius: 12px;
      border-color: #00cc44;
      padding: 10px;}
#experience-menu:hover {
      background-color: #00A336;
}
#contact-menu {display: inline-block;
                background-color: blue;
                font-size: 18px;
               margin-right: 20%;
                text-align: center;
                border-radius: 12px;
               border-color: blue;
                padding: 10px;}
#contact-menu:hover {background-color: mediumblue;}
a {font-family: monospace; color: yellow;}
img {height: 11rem; width:auto;}
.bio {margin-left:auto;
      margin-right:auto;
      padding:2em;
      background-color:#ff7733;}
.projects {padding:2em;
           background-color:#00cc44;
           margin-left: auto;
           margin-right: auto;}
.drivefolder {text-align:center}
.contacts {padding:2em; background-color: blue;
          margin-left: auto;
          margin-right: auto;}
.endpage {color:#4d4d4d; text-align:center; font-size:0.7rem}
.image {text-align:center; margin-top:16px}
