html {font-size: 100%;}
h1 {font-family:"DejaVu Sans"; color:#4d4d4d; text-align:center; width:50em; font-size:3.5rem; margin-top:20px; margin-bottom:60px}
h2 {font-family:"DejaVu Sans Mono"; color:#4d4d4d; font-size:1.4rem}
h3 {color:white; font-size:1rem}
body {font-family:"DejaVu Sans Mono"; font-size:0.8rem; width:80em; margin-left:auto; margin-right:auto; margin-bottom:36px; text-align:left;}
p {font-family:"DejaVu Sans Mono"; color:white; line-height:1.8}
ul {font-family:"DejaVu Sans Mono"; color:white; line-height:1.8}
a {font-family:"DejaVu Sans Mono"; color:yellow;}
img {height: 11rem; width:auto;}
.bio {padding:2em; background-color:#ff7733}
.projects {padding:2em; background-color:#00cc44}
.drivefolder {text-align:center}
.contacts {padding:2em; background-color: blue}
.endpage {color:#4d4d4d; text-align:center; font-size:0.7rem}
.image {text-align:center; margin-top:36px}
