h1 {font-family:"DejaVu Sans"; color:#4d4d4d; text-align:center; font-size:36px; margin-top:20px; margin-bottom;60px}
h2 {font-family:"DejaVu Sans Mono"; color:#4d4d4d; font-size:20px}
h3 {color:white; font-size:16px}
body {font-family:"DejaVu Sans Mono"; margin-left:300px; margin-right:300px; margin-bottom:36px; text-align:left;}
p {font-family:"DejaVu Sans Mono"; color:white; font-size:13px; line-height:1.8}
ul {font-family:"DejaVu Sans Mono"; color:white; font-size:13px; line-height:2}
a {color:yellow}
img {height: 150px; width:auto;}
.bio {padding:20px; background-color:#ff7733}
.projects {padding:20px; background-color:#00cc44}
.drivefolder {text-align:center}
.contacts {padding:20px; background-color: blue}
.endpage {color:#4d4d4d; text-align:center}
.image {text-align:center; margin-top:36px}
